<?xml version="1.0" encoding="utf-8" ?>
<searchEngines>
  <searchEngine type="SearchEngineMock.SearchEngine,SearchEngineMock" name="SearchEngineMock" displayName="Mock Social Networking"></searchEngine>
  <searchEngine type="TwitterSearchEngine.TwitterSearchEngine,TwitterSearchEngine" name="TwitterSearchEngine" displayName="TwitterSearchEngine"></searchEngine>
  <searchEngine type="FacebookSearchEngine.FacebookSearchEngine,FacebookSearchEngine" name="FacebookSearchEngine" displayName="FacebookSearchEngine"></searchEngine>
  <searchEngine type="GooglePlusSearchEngine.GooglePlusSearchEngine,GooglePlusSearchEngine" name="GooglePlusSearchEngine" displayName="GooglePlusSearchEngine"></searchEngine>
</searchEngines>