<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=(local);Initial Catalog=SocialNetWorkingSearchEngine;Integrated Security=True" />
    <add name="SocialNetWorkingSearchEngineDB" connectionString="Data Source=(local);Initial Catalog=SocialNetWorkingSearchEngine;Integrated Security=True" />
    <add name="SearchEngineMockDB" connectionString="Data Source=(local);Initial Catalog=SearchEngineMock;Integrated Security=True" />
  </connectionStrings>
</configuration>